{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-BUDDY</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
<div class="topnav">
     
  <img src="{% static 'evsulogo.png' %}" width="250" height="70">
<nav> 
<div class="nav-right">  
  <a>E-BUDDY</a>
        <img src="{% static 'robots.jpg' %}" width="90" height="70">
</div> 
</nav>
<!-- <a>E-BUDDY</a>
  <img src="{% static 'robot.jpg' %}" width="70" height="70">-->
  
<!--<nav>
    

    <div class="nav-right">
       <button class="btn login" >Login</button>
        <button class="btn signup">Sign Up</button>
        
    </div>
 </nav>-->
        
</div>
    <!-- The sidebar -->
<div class="sidebar">
    <a  href="homepage">Home</a>
    <div class="dropdown">
      <button class="dropdown-btn">Office Chatbot</button>
      <div class="dropdown-content">
          <a href="saso">SASO</a>
          <a href="registrar">REGISTRAR</a>
          <a href="cashier">CASHIER</a>
      </div>
    </div>
    
    <a href="">About</a>
</div>
  <!-- Page content -->
  <div class="content">
    <img src="{% static 'background1.jpg' %}" width="1025" height="600" >
  </div>
  
  <div class="content0">
    <a href="saso" class="choice">
        <img src="{% static 'SASO LOGO.jpg' %}" alt="SASO" href="saso">
        <span>SASO BUDDY</span>
    </a>
    <a href="registrar" class="choice">
        <img src="{% static 'REGISTRAR LOGO.jpg' %}" alt="Registrar" href="registrar">
        <span>REGISTRAR BUDDY</span>
    </a>
    <a href="cashier" class="choice">
        <img src="{% static 'CASHIER LOGO.png' %}" alt="Cashier" href="cashier">
        <span>CASHIER BUDDY</span>
    </a>
</div>

  <!-- Page content -->
 <!-- <div class="content">
    <img src="{% static 'background.jpg' %}" width="1025" height="600" >
  </div> -->

  

 <!--- <script>
    window.embeddedChatbotConfig = {
    chatbotId: "fMxvDM3XZQgGU_uY5lS-6",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="fMxvDM3XZQgGU_uY5lS-6"
    domain="www.chatbase.co"
    defer>
    </script> -->
    <!-- Start of ChatBot (www.chatbot.com) code -->
<script>
  window.__ow = window.__ow || {};
  window.__ow.organizationId = "b49416a6-7034-4ab4-92bc-0c2657eb15ee";
  window.__ow.template_id = "c33146db-3926-49fd-b388-b92ed4d8b322";
  window.__ow.integration_name = "manual_settings";
  window.__ow.product_name = "chatbot";   
  ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[OpenWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.openwidget.com/openwidget.js",t.head.appendChild(n)}};!n.__ow.asyncInit&&e.init(),n.OpenWidget=n.OpenWidget||e}(window,document,[].slice))
</script>
<noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
<!-- End of ChatBot code -->

</body>
</html>